{% extends 'base.html' %}

{% block 'container' %}
<h1 class="mt-3 mb-3">Login</h1>
{% include 'inc/messages.html' %}

{% if not user.is_authenticated %}
<form method="post" action="{% url 'login' %}">
    {% include 'inc/messages.html' %}
    {% csrf_token %}
    <div class="form-group">
        <label>Usuário</label>
        <input type="text" name="user" value="{{ request.POST.user }}" class="form-control" />
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% else %}

<p>Você fez login com {{ user }}, <a href="{% url 'logout' %}">clique aqui</a> para sair.</p>

{% endif %}

{% endblock %}